.body {
  background-color: #fff;
  width: 100vw;
  min-height: 100vh;
  padding-top: 16px;
}

.search {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  background-color: #f3f3f3;
  border-radius: 40px;
  padding: 10px 20px;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.search-icon {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  display: block;
}

.close-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.search-input {
  flex: 1;
  height: 32px;
  font-size: 16px;
  color: #333;
  background: transparent;
  border: none;
  outline: none;
}

.empty-search {
  margin-top: 20px;
}

.search-log {
  display: flex;
  padding: 18px 14px;
  justify-content: space-between;
  font-size: 18px;
  border-bottom: 2px solid #f3f3f3;
  align-items: center;
}

.delete-icon {
  width: 28px;
  height: 28px;
  display: block;
}

.log-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 14px;
  font-size: 16px;
}

.log-item {
  background-color: #999;
  color: #fff;
  padding: 7px 14px;
  margin-right: 12px;
  border-radius: 15px;
  margin-bottom: 6px;
  font-size: 15px;
}

.result-search {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.search-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 14px 22px;
  box-sizing: border-box;
  border-bottom: 2px solid #f3f3f3;
  font-size: 16px;
  align-items: center;
}

.search-item-right {
  width: 22px;
  height: 22px;
  margin-left: 8px;
  display: block;
  object-fit: contain;
}

.empty-result {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;
  font-size: 15px;
  height: 80px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  color: #999;
  font-size: 15px;
} 